/* VARIABLES */
:root {
  /* COLORS */

  /* Primary */
  --soft-red: hsl(0, 93%, 68%);
  --desaturated-red: hsl(0, 36%, 70%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* Gradients */
  --primary-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --secondary-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  /* ------ */

  /* Font Family */
  --main-font-family: "Josefin Sans", sans-serif;

  /* Font Weights */
  --light: 300;
  --regular: 400;
  --bold: 600;
}

/* MOBILE */

/* Utility */
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
/* ------- */

/*  */

/* Main Body */
img.right-col {
  display: none;
}

body.grid {
  font-family: var(--main-font-family);
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  padding: 10%;
}

h1 {
  font-size: 10vw;
  font-weight: var(--bold);
  line-height: 1.1;
  letter-spacing: 10px;
  color: var(--dark-grayish-red);
}

h1 span {
  font-weight: var(--light);
  color: var(--desaturated-red);
}

p {
  padding: 5%;
  line-height: 1.8;
  font-size: 4vw;
  color: var(--desaturated-red);
}
/* --------- */

/*  */

/* Form */
input:focus {
  outline: none;
  box-shadow: 0 0 0 30px white inset;
}

form {
  display: inline-block;
  position: relative;
  border-radius: 5em;
  width: 65vmin;
}

.email {
  position: absolute;
  left: 0;
  border: solid hsla(0, 36%, 70%, 0.5) 1px;
  border-radius: 5em;
  height: 30px;
  width: 60vmin;
  padding: 0 0 0 2vmin;
}

.email::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

.email-btn {
  position: absolute;
  right: 0;
  height: 32px;
  width: 12vmin;
  border-radius: 5em;
  border: none;
  background: var(--secondary-gradient);
  box-shadow: 2px 4px 15px hsl(0, 36%, 70%);
}

.email-btn:hover {
  background: hsl(0, 60%, 90%);
}
/* ---- */

/*  */

/* Error Messages */
.error-form {
  border-color: var(--soft-red);
}

.error-img {
  position: absolute;
  right: 12.5vmin;
  top: 6%;
}

.error-text {
  position: absolute;
  top: 10px;
  bottom: 8px;
  font-size: 0.8rem;
  color: var(--soft-red);
}
/* -------------- */

/*  */

/* Footer */
footer {
  margin: 10% 0;
}

.attribution {
  font-weight: var(--light);
  font-size: 0.7rem;
  padding: 0;
}

.attribution a {
  text-decoration: none;
  color: var(--dark-grayish-red);
  font-weight: var(--regular);
}
/* ------ */

/*  */

/*  */

/*  */

/*DESKTOP*/

@media (min-width: 768px) {
  /* Main Body */
  body.grid {
    text-align: left;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  /* Switch Images */
  img.hero-mobile {
    display: none;
  }

  img.right-col {
    display: inline-block;
  }
  /* ------------- */

  .left-col {
    padding: 10%;
  }

  .logo {
    padding: 0 0 5%;
  }

  h1 {
    margin: 2% 0;
    font-size: 4vw;
  }

  p {
    margin: 2% 0;
    padding: 0 35% 0 0;
    font-size: 1.2vw;
  }
  /* --------- */

  /*  */

  /* Error Messages */
  .error-text {
    left: 10px;
  }
  /* -------------- */
}
